#search-results{
margin: 10%;
display: flex;
flex-wrap: wrap;
text-decoration: none;
font-size: large;
font-weight: 600;
color: #52566B;
width: 90%;
margin:2%;
}

#search-results a{
    padding: 0.3%;
}

.search-results-header{
    margin-top: 5%!important;
    display: flex;
    font-size: larger;
    font-weight: 600;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10%;
    box-shadow: 1px 1px 3px 2px #F2B5D4;
     -webkit-box-shadow: 1px 1px 2px 1px #F2B5D4;
     -moz-box-shadow:1px 1px 1px 1px #F2B5D4; }